* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Inter", sans-serif;
}

.container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  overflow: auto;
}

.tool-bar {
  background-color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  width: fit-content;
  display: grid;
  gap: 24px;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0px 0px 6px 0px rgba(168, 168, 168, 1);
}

.tool-bar .options {
  list-style: none;
}

.tool-bar .options .option {
  display: flex;
  gap: 8px;
  padding: 6px;
  font-size: 14px;
  cursor: pointer;
}

.tool-bar .options .option:is(:hover, .active) img {
  filter: invert(70%) sepia(90%) saturate(3000%) hue-rotate(900deg)
    brightness(100%) contrast(100%);
}

.tool-bar .options .option:is(:hover, .active) {
  color: #4897f8;
}

.tool-bar .row {
  display: grid;
  gap: 12px;
}

button {
  padding: 6px 12px;
  border-radius: 4px;
  background-color: none;
  border: none;
  cursor: pointer;
}

#fill-color:checked ~ label {
  color: #4897f8;
}

.drawing-board {
  flex: 1;
  background-color: whitesmoke;
}
